@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bgDark: #04122d;
  --bgLight: #051431;
  --primary: #ff4343;
  --muted: #ffffffcc;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
